<li class="collection-item">
  <span><a href="#!" class="secondary-content"><i class="material-icons">flag</i></a></span>
  <div class="comment-container">
    <%=image_tag(comment.user.image.url(:thumb), class: 'circle', size: "30")%>
    <div class="username">
      <p class="username"><%=comment.user.name%></p> 
    </div>
    <div class="comment">
      <p class="comment"><%=comment.body%></p>
    </div>
  </div>
</li>