<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @multimedia_post.title %>
</p>

<%= link_to 'Edit', edit_multimedia_post_path(@multimedia_post) %> |
<%= link_to 'Back', multimedia_posts_path %>
