<!-- Generación de líneas rojas del cuaderno -->
<!-- <div class="lines"></div> -->
<ul class="list">
  <li>&nbsp</li>
  <li>&nbsp</li>
  <li>configuracion</li>
  <li>Colocar opciones acá...</li>
</ul>
