<!--  Contenido principal -->
  <div class="configuracion">
    <h1> Configuración de <%= @school_class.name %> </h1>

    <%= render partial: 'school_classes/form' %>

    <h2>Administrar apoderados:</h2>
    <ul>
    <% @school_class.parents.each do |parent|%>
        <li>
        <%=parent.name%>
        <%= link_to(fa_icon("trash-o"), school_class_parent_obligation_path(@school_class.id, parent.id), method: :delete)%>
        </li>
    <%end%>
    </ul>

  </div>
