<%@school_class.posts.each do |post| %>
  <% #if post.type == (?) %>
    <li>
    <h3><%=post.title%></h3>
    <span>Escrito por <%=post.author.name%></span>
    <p><%=post.body%></p>
    <td><%= link_to "Comentar", "#", id: "test5", class: "btn btn-default" %></td>
    </li>
  <% #end %>
<% end %>
