
<ul class="list">
  <% @posts.each do |post| %>
  <div class="row post-card">
          <div class="col s12 m11">
        
            <div class="card grey lighten-2">
              <div class="card-content white-text activator">       
             <%=image_tag(@current_user.image.url(:thumb), class: 'user-thumbnail')%>
                <span class="card-title"><%=post.title%></span>   
                <span class="post-date"><%=post.created_at.strftime("%d/%m/%Y")%></span>        
              </div>
              
               <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> <i class="material-icons right">close</i></span>
      <p><%=post.body%></p>
      <div class="card-action">
        <a href="www.arreglar.com">EDITAR</a>
      </div>
    </div>
              
            </div>
          </div>
        </div>
  <% end %>
</ul>