<%= form_for [@school_class, @post] do |f| %>
  <div class="form-group">
    <div class="">
      <%= f.text_field :title, placeholder: "Título", class: 'form-control', required: true %>
    </div>
    <div class="">
      <%= f.text_area :body, placeholder: "Contenido", class: 'form-control', required: true, size: '50x10' %>
    </div>
  </div>
  <div class="actions">
    <%= button_tag( class: "waves-effect waves-light btn") do %>
      Agregar Aviso
    <% end %>
  </div>
<% end %>
