// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -------------------------- Propiedades Macro (General) --------------------------
html {
  min-height: 100%;
}
body {
  margin: 0px;
  padding-left: 1px; // NO BORRAR!! Sirve para corregir la altura ... fking css
  height: 100%;
  background: #E7E7E7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#E7E7E7, #F8EEB1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#E7E7E7, #F8EEB1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#E7E7E7, #F8EEB1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E7E7E7, #F8EEB1); /* Standard syntax */
}

// -------------------------- Propiedades Header --------------------------

header {
  width: 100%;
  height: 260px;
  background-color: #EC644B;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header h1 {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin: 1%;
  margin-left: 16%;
  font-size: 350%;
  color: white;
}

// -------------------------- Propiedades Post-It's --------------------------

#nav {
  position: absolute;
  top: 100px;
  left: 12%;
  width: 76%;
  margin-left: 4%;
}

#nav .post-it {
  // Padding top y height deben sumar 50 para estar escondido
  background-color: #B2FC3A;
  color: darken(#B2FC3A, 42);
  margin-right: 4%;
  padding: 15px 0px 0px 0px;
  width: 20%;
  max-width: 200px;
  height: 50px;
  float: left;
  //font-family: 'Raleway', sans-serif;
  letter-spacing: 0.5px;
}
#nav .post-it.selected{
  height: 95px;
}
#nav .post-it.b-bg{
  background-color: #FFD6D4;
  color: darken(#FFD6D4, 42);
}
#nav .post-it.y-bg{
  background-color: #FBF937;
  color: darken(#FBF937, 38);
}
#nav .post-it.o-bg{
  background-color: #51ADEE;
  color: darken(#51ADEE, 42);
}

#nav .post-it a, a:hover, a:visited {
  font-size: 100%;
  display: block;
  text-align: center;
  top: 0px;
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  outline: 0;
}


// -------------------------- Propiedades Cuaderno --------------------------

#paper {
  background-color :#f5f5f5;
  width: 76%;
  left: 12%;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 5%;
  padding-left: 3%;
  padding-bottom: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}


