// Place all the styles related to the MultimediaPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#multimedia_post_img {
  padding-bottom: 40px;
}

#multimedia_cards {
  padding-top: 25px;
  padding-right: 40px;
}

#multimedia_cards .custom_card-image {
  height: 100%;
  max-width: 60%;
  float: left;
}
.materialboxed, .material-placeholder, #multimedia_cards img {
  max-height: 400px;
  max-width: 100%;
}
#multimedia_cards .materialboxed.initialized.active {
  max-width: none;
  max-height: none;
}

#multimedia_cards .custom_card-content {
  height: 100%;
  max-width: 40%;
  float: left;
}

#multimedia_cards span {
  font-size: 400%;
}

#multimedia_cards .card-image {
  max-height: 100% !important;
}

#multimedia_cards .card.small {
  height: 160px !important;
}
#multimedia_cards .card .card-title {
  background-color: rgba(0,0,0,.5) !important;
  padding: 5px;
  margin: 0;
  width: 100%;
  pointer-events: none;
  position: absolute;
  bottom: 0;
}
